<h1>jsHub Tag Configurator</h1>

<p class="homepage">
  You can use the configurator to create a customized tag for your site.
</p>
<p class="homepage">
  A tag consists of the core code functionality, plus a number of plugins.
  This allows you to implement other solutions by adding the relevant plugins 
  without having to retag your site. The tag and the plugins run in the user's 
  browser.
</p>
<p class="homepage">
  If you <%= link_to "create an account", register_path %> or <%= link_to "sign in", login_path %>,
  then you can save your configuration and keep a history of changes. 
</p>

<div class="button create"><%= link_to 'Create a new configuration', new_tag_configuration_path %></div>
