<% form_for(@tag_configuration) do |f| %>

<h1>Create a new configuration</h1>

  <%= render :partial => 'form' , :locals => { :f => f } %>

  <div class="yui-g actions">
    <div class="yui-u first">
      <%# f.submit "Save" %>
      <button type="submit" name="commit" id="tag_configuration_submit" class="save">Save</button>
    </div>
    <div class="yui-u">
      <div class="button back"><%= link_to 'Back', tag_configurations_path %></div>
    </div>
  </div>
<% end %>
