  <div class="yui-g top">
    <div class="details">
	  <p>
	  	<strong>Already registered?</strong><br />
		Then <%= link_to "click here to sign in", login_path %>. 
	  </p>
	  <p>
	  	Don't forget, you can <%= link_to "create a configuration", new_tag_configuration_path %>
		without registering if you want to, but you will not be able to save it.
	  </p>
    </div>
  </div>
