<h1>Listing users</h1>

<table>
<thead>
  <tr>
    <th>Name</th>
	<th></th>
  </tr>
</thead>
<tbody>
<% for user in @users %>
  <tr>
    <td><%=h user.name %></td>
    <td><%= link_to 'Show', user %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

