  <div class="yui-g top">
    <div class="details">
	  <p>
	  	<strong>Don't have an account yet?</strong><br />
		Please <%= link_to "create an account", register_path %>,
		so you can save your configurations. 
	  </p>
	  <p>&nbsp;</p>
	  <p>
	  	Don't forget, you can <%= link_to "create a configuration", new_tag_configuration_path %>
		without registering if you want to, but you will not be able to save it.
	  </p>
    </div>
  </div>
